<button (click)="open()" class="btn btn-secondary my-2 my-sm-0" type="submit"><img src="assets/cog.svg"/>
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">{{ configModel.environments.length > 0 ? 'Configuration' : 'Getting started'}}</h4>
    <button (click)="modal.close('Cross Click')" *nfIf="configModel.environments.length > 0" aria-label="Close"
            class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <ngb-alert *ngIf="configModel.environments.length === 0" [dismissible]="false" type="danger">
          <h4>Read Me</h4>
          Please import a configuration to get started. You probably should have received one from the person who
          linked you to this tool. You can also add a new environment, if you know what you are doing!
        </ngb-alert>
      </div>
    </div>
    <input #configFileInput (change)="onFileChange($event)" accept="application/json" class="form-control-file"
           hidden="hidden" type="file">
    <form>
      <div class="row">
        <div class="col text-center">
          <button (click)="configFileInput.click()" class="btn btn-outline-secondary btn-block" style="margin-top: 10px"
                  type="button">Import configuration file
          </button>
        </div>
        <div *ngIf="configModel.environments.length > 0" class="col text-center">
          <button (click)="exportConfiguration()" class="btn btn-outline-secondary btn-block" style="margin-top: 10px"
                  type="button">Export configuration file
          </button>
        </div>
      </div>
      <hr>
      <div *ngIf="configModel.environments.length > 0" class="form-row">
        <div class="col">
          <label for="environment">Select your environment</label>
          <select [(ngModel)]="configModel.currentEnvironmentIndex" class="form-control"
                  id="environment" name="environment">
            <option *ngFor="let environment of configModel.environments; let i = index;"
                    [ngValue]="i">{{environment.name}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="nerdMode && configModel.environments.length > 0" class="form-row">
        <hr>
        <div class="col-12">
          <div class="form-group">
            <label for="environmentName">Environment Name</label>
            <input [(ngModel)]="configModel.environments[configModel.currentEnvironmentIndex].name"
                   class="form-control"
                   id="environmentName"
                   name="environmentName">
          </div>
          <div class="form-group">
            <label for="luisURL">LUIS URL</label>
            <input [(ngModel)]="configModel.environments[configModel.currentEnvironmentIndex].luisURL"
                   class="form-control"
                   id="luisURL"
                   name="luisURL">
          </div>
          <div class="form-group">
            <label for="luisKey">LUIS Key</label>
            <input [(ngModel)]="configModel.environments[configModel.currentEnvironmentIndex].luisKey"
                   class="form-control"
                   id="luisKey"
                   name="luisKey">
          </div>
          <div class="form-group">
            <label for="intents">Intents</label>
            <input (ngModelChange)="updateIntents($event)"
                   [ngModel]="configModel.environments[configModel.currentEnvironmentIndex].intents"
                   class="form-control"
                   id="intents"
                   name="intents">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col text-center">
          <button (click)="reset()" *ngIf="configModel.environments.length > 0 else addButton" class="btn btn-danger"
                  style="margin-top: 10px"
                  type="button">Reset tool
          </button>
          <ng-template #addButton>
            <button (click)="addNewEnv()" class="btn btn-outline-success btn-block" style="margin-top: 10px"
                    type="button">Add new environment
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="configModel.environments.length > 0">
      <button (click)="addNewEnv()" *ngIf="nerdMode" class="btn btn-outline-success" type="button">Add environment
      </button>
      &nbsp;
      <button (click)="deleteEnv()" *ngIf="nerdMode" class="btn btn-outline-danger" type="button">Delete environment
      </button>
      &nbsp;
      <button (click)="setNerdMode()" *ngIf="!nerdMode" class="btn btn-outline-danger" type="button">Edit configurations
      </button>
      &nbsp;
      <button (click)="modal.close('Save')" class="btn btn-secondary" type="button">Save</button>
    </div>
  </div>
</ng-template>
